@using Microsoft.Fast.Components.FluentUI

<h2>ModelSelector</h2>

@* Определяем выпадающие списки *@
<SelectorList Items="itemList" SelectEvent="onSelectModel" />
<SelectorList DefaultItem="Выберите модель" SelectEvent="onSelectCountry" @ref="countrySelector" />
<SelectorList DefaultItem="Выберите страну" @ref="versionSelector" />

<FluentButton Appearance="@Appearance.Accent">Reset</FluentButton>

@code {

    // Список доступных для выбора моделей приборов
    private List<Option<string>> itemList = new()
    {
        { new Option<string> { Value = "1", Text = "D200" } },
        { new Option<string> { Value = "2", Text = "D210" } },
        { new Option<string> { Value = "3", Text = "D800" } },
        { new Option<string> { Value = "4", Text = "D820" } }
    };

    private SelectorList? countrySelector;
    private SelectorList? versionSelector;

    private void onSelectModel(string model)
    {
        Console.WriteLine($"Selected model: {model}"); // Отладочный вывод

        // Обновляем список элементов дочернего компонента
        countrySelector?.ReplaceItems(new List<Option<string>>
        {
            { new Option<string> { Value = "1", Text = "Russia" } },
            { new Option<string> { Value = "2", Text = "Iran" } },
            { new Option<string> { Value = "3", Text = "China" } },
            { new Option<string> { Value = "4", Text = "North Korea" } }
        });

        countrySelector?.SetFocus();
    }

    private void onSelectCountry(string country)
    {
        Console.WriteLine($"Selected country: {country}");

        versionSelector?.ReplaceItems(new List<Option<string>>
        {
            { new Option<string> { Value = "1", Text = "T" } },
            { new Option<string> { Value = "2", Text = "OK" } },
            { new Option<string> { Value = "3", Text = "T2" } },
            { new Option<string> { Value = "4", Text = "OK2" } }
        });

        versionSelector?.SetFocus();
    }
}
