<h3>ModelSelector</h3>

@* Определяем выпадающие списки *@
<SelectorList Items="itemList" SelectEvent="onSelectModel" />
<SelectorList DefaultItem="Выберите модель" />
<SelectorList DefaultItem="Выберите страну" />

@code {
    // Список доступных для выбора моделей приборов
    private List<string> itemList = new List<string>
    {
        "D200",
        "D210",
        "D800",
        "D820"
    };

    private void onSelectModel(string model)
    {
        Console.WriteLine($"Selected model: {model}"); // Отладочный вывод
    }
}
