<h3>ModelSelector</h3>

@* Определяем выпадающие списки *@
<SelectorList Items="itemList" SelectEvent="onSelectModel" />
<SelectorList DefaultItem="Выберите модель" SelectEvent="onSelectCountry" @ref="countrySelector" />
<SelectorList DefaultItem="Выберите страну" @ref="versionSelector" />

@code {
    // Список доступных для выбора моделей приборов
    private List<string> itemList = new List<string>
    {
        "D200",
        "D210",
        "D800",
        "D820"
    };

    private SelectorList? countrySelector;
    private SelectorList? versionSelector;

    private void onSelectModel(string model)
    {
        Console.WriteLine($"Selected model: {model}"); // Отладочный вывод

        // Обновляем список элементов дочернего компонента
        countrySelector?.ReplaceItems(new List<string>
        {
            "Russia",
            "Iran",
            "China",
            "North Korea"
        });
    }

    private void onSelectCountry(string country)
    {
        Console.WriteLine($"Selected country: {country}");

        versionSelector?.ReplaceItems(new List<string>
        {
            "T",
            "OK",
            "T2",
            "OK2"
        });
    }
}
